doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Album Animali
        link(rel="stylesheet", href="styles.css")
    body
        header
            h1 Album di Animali
            nav
                ul  
                    li 
                        a(href="/") Home
                    each animal in animaled
                        li
                            a(href=`/api/${animal.id_figurina}`) #{animal.razza_animale}
        main
            p Qua guardiamo gli animali
